.intro{
    background-color: blueviolet;
    border-radius: 0.5em;
    font-size: large;
    font-weight: bold;
    margin-top:  auto;
    justify-content: flex-end;
}
.body{
    background-color: pink;
    padding: 1em;
    margin: 1em;
}

.cart{
    padding: 1em;
    width: 98%;
    margin-top: 1em;
    background-color: orange;
    border-radius: 0.5em;
}
input{
    
    width: 15%;
}

.input > input[type="text"]{
    padding: 0.5em;
    margin: 0.5em;
}

.small_pizza{
 background-color: rgb(136, 255, 0);
 margin: 1em; 
 padding: 1em; 
 border-radius: 0.5em;
 width: 95%;
 display: flex;
}

.table{
    background-color: rgb(226, 43, 202);
    border-radius: 0.5em;
}
.message{
    color: pink;
    background-color: black;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
td{
    text-align: center;
    vertical-align: bottom;
}
th, td{
    text-align: center;
    border: 1px solid black;
    padding: 15px;
}

.btn {
    padding: 1em 0em 1em 0em;
    width: 5em;
    background-color: yellowgreen;
    color: grey;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    border-radius: 0.25em;
}

.a1{
    flex: 1;
    margin: auto;
    display: flex; 
}

.a2 {
margin-left: 1em;
padding:1em;
}

.aa{
    margin-left: 50%;
    display: flex;
}

@media (min-width: 850px) {
    .Pizzas1 {
        display: flex;
        padding: 1em;
        margin: 1em;
           }
        }

.small_pizza {
    background-color: rgb(136, 255, 0);
}